<h1>Editing repetition</h1>

<%= render "form", repetition: @repetition %>

<br>

<div>
  <%= link_to "Show this repetition", @repetition %> |
  <%= link_to "Back to repetitions", repetitions_path %>
</div>
