<p style="color: green"><%= notice %></p>

<h1>Repetitions</h1>

<div id="repetitions">
  <% @repetitions.each do |repetition| %>
    <%= render repetition %>
    <p>
      <%= link_to "Show this repetition", repetition %>
    </p>
  <% end %>
</div>

<%= link_to "New repetition", new_repetition_path %>
