<div class="mb-3">
  <%= f.label :title,{ class: "form-label"}  %>
  <%= f.text_field :title, {class: 'form-control ' } %>
</div>

<div class="mb-3">
  <%= f.label :notes, {class: "form-label"}  %>
  <%= f.text_area :notes,{ class: 'form-control' }%>
</div>

<br>
