<p style="color: green"><%= notice %></p>

<div id="workouts" class="container-fluid">
  <h1>Workouts</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @workouts.each do |workout| %>
        <tr>
          <%= render workout %>
          <td>
            <%= link_to "Show", workout %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<button type="button" class="btn btn-outline-dark">
  <%= link_to "New workout", new_workout_path %>
</button>
