<p style="color: green"><%= notice %></p>

<h1>Tempos</h1>

<div id="tempos">
  <% @tempos.each do |tempo| %>
    <%= render tempo %>
    <p>
      <%= link_to "Show this tempo", tempo %>
    </p>
  <% end %>
</div>

<%= link_to "New tempo", new_tempo_path %>
