<h1>Editing workout set</h1>

<%= render "form", workout_set: @workout_set %>

<br>

<div>
  <%= link_to "Show this workout set", @workout_set %> |
  <%= link_to "Back to workout sets", workout_sets_path %>
</div>
