<div id="<%= dom_id training_session %>">
  <p>
    <strong>Workout:</strong>
    <%= training_session.workout_id %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= training_session.plan_id %>
  </p>

</div>
