<div id="<%= dom_id training_session %>">
  <H2>
    <%= training_session.workout.title %>
  </H2>
  <p>
    <%= training_session.workout.created_at.to_formatted_s(:short) %>, Part of <%= training_session.plan.title %>
  </p>
</div>
