<h1>Editing training session</h1>

<%= render "form", training_session: @training_session %>

<div class="float-end">
  <%= link_to '<i class="bi bi-arrow-return-left"></i>'.html_safe, training_sessions_path, :class => "btn btn-outline-primary"%>
</div>
