<h1>Editing training session</h1>

<%= render "form", training_session: @training_session %>

<br>

<div>
  <%= link_to "Show this training session", @training_session %> |
  <%= link_to "Back to training sessions", training_sessions_path %>
</div>
