<p style="color: green"><%= notice %></p>

<h1>Pauses</h1>

<div id="pauses">
  <% @pauses.each do |pause| %>
    <%= render pause %>
    <p>
      <%= link_to "Show this pause", pause %>
    </p>
  <% end %>
</div>

<%= link_to "New pause", new_pause_path %>
