<div class="nested-fields">
  <table class="table table-striped">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody >
      <td>
        <%= f.label :workout_id, style: "display: block" %>
        <%= f.collection_select :workout_id, Workout.all, :id, :title %>
      </td>
      <td>
        <%= link_to_remove_association "Delete", f %>
      </td>
    </tbody>
  </table>
</div>
