
<%= render @exercise %>

<div class="float-end">
  <%= link_to "Edit", edit_exercise_path(@exercise), :class => "btn btn-outline-primary" %>
  <%= link_to "Back", exercises_path, :class => "btn btn-outline-primary"%>
</div>

<div clas="float-start">
  <%= button_to "Delete", @exercise, method: :delete, :class => "btn btn-danger" %>
</div>
