<%# navigation styled for Bootstrap 5.0 %>
<!-- Navbar -->
<nav class="navbar navbar-default  navbar-expand-lg bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">ProStrength</a>
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
      <%= render 'layouts/nav_links_for_user_auth' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/nav_links_for_admin_auth' %>
    <% else %>
      <div class="text-end ms-auto">
        <form class="">
          <a class="btn btn-outline-success" href="/users/sign_up">Become member</a>
          <a class="btn btn-outline-primary mr-2" href="/users/sign_in">Login</a>
        </form>
      </div>
    <% end %>
  </div>
</nav>
